*,
*::before,
::after {
  border-color:#1e293b !important;
}


@media (min-width:835px)
{
    .css-7pjl54 {
        padding-left: 85px !important;
        padding-right: 85px !important;
    }
    .css-22bnw2{
        width: 410px;
    }
}


.mt-35{
    margin-top: 35px;
}

.css-1g6qqxs{
    background:#1e293b !important;
}
.css-1g6qqxs:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity)) !important;
}



@media (max-width:835px)
{
    .css-7pjl54 {
        padding: 29px !important;
    }

    .css-22bnw2{
        width: 280px;
    }
}