/* Common styles for both previous and next buttons */
.slick-arrow {
    position: absolute;
    top: 50%;
    width: 33px;
    height: 35px;
    background-color: #1e293b !important;
    border: none;
    border-radius: 50%;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
/* Styles for the previous button */

.slick-prev {
    left: 10px;
    z-index: 9999;
    /* Adjust the left position as needed */
}

/* Styles for the next button */
.slick-next {
    right: 10px;
    /* Adjust the right position as needed */
}

/* Responsive styles */
@media (max-width: 768px) {
    .slick-arrow {
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 33px;
    }
}

/* Hide the text inside the buttons */
.slick-arrow {
    content: " ";
    /* Empty content */
    /* visibility: hidden; */
    /* Hide the content */
}