/* Common styles for both previous and next buttons */
.slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    /* Set width as needed */
    height: 40px;
    /* Set height as needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Background color */
    border: none;
    border-radius: 50%;
    /* Make it round */
    /* Text color */
    font-size: 20px;
    /* Font size */
    line-height: 40px;
    /* Vertical centering */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
/* Styles for the previous button */
/* Styles for the previous button */
/* Styles for the previous button */
/* Styles for the previous button */
.slick-prev {
    left: 10px;
    z-index: 9999;
    /* Adjust the left position as needed */
}

/* Styles for the next button */
.slick-next {
    right: 10px;
    /* Adjust the right position as needed */
}

/* Responsive styles */
@media (max-width: 768px) {
    .slick-arrow {
        width: 30px;
        /* Adjust width for smaller screens */
        height: 30px;
        /* Adjust height for smaller screens */
        font-size: 16px;
        /* Adjust font size for smaller screens */
        line-height: 30px;
        /* Adjust line height for smaller screens */
    }
}

/* Hide the text inside the buttons */
.slick-arrow {
    content: " ";
    /* Empty content */
    /* visibility: hidden; */
    /* Hide the content */
}